<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./paid.css" />
    <link rel="stylesheet" href="./public/styles/style.css" />
    <style></style>
  </head>
  <body>
    <div
      class="loading font-poppins m-0 bg-green-200 h-screen w-screen flex flex-col items-center justify-center"
    >
      <div
        class="wrapper h-36 w-screen flex justify-center items-center bg-green-200"
      >
        <svg
          class="checkmark"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 52 52"
        >
          <circle
            class="checkmark__circle"
            cx="26"
            cy="26"
            r="25"
            fill="none"
          />
          <path
            class="checkmark__check"
            fill="none"
            d="M14.1 27.2l7.1 7.2 16.7-16.8"
          />
        </svg>
      </div>
      <h3 class="mb-3">payment transaction successful!</h3>
      <p>redirecting to the home page....</p>
    </div>

    <script>
      setTimeout(() => {
        window.location.href = "/";
      }, 3000);
    </script>
  </body>
</html>
